<ion-header>
  <app-main-header [headerType]="1"
    buttonType="back-icon"
    [title]="timelineInfo.title"
  ></app-main-header>
</ion-header>

<ion-content class="ion-padding">
  <h1>OPTIONAL Photo & Video Submissions</h1>
  <p>
    In order to keep yourself accountable, you may upload photos during the challenge to see your progress. 
    Use hashtag and name of challenge. Example: #YouVsYou. Wear the exact outfit while taking photos on the first, middle, and last day. 
    Make sure your files do not exceed 2MB for photos.<br><br>
    In addition, occasionally Keaira will give a shout out to one of the most transformed persons 
    from the photos submitted on one of her IG Lives…photos will not be shown during live shoutout.
  </p>
  <br />
  <div>
    <p><b>GUIDELINES FOR THE BEFORE/AFTER PHOTOS?</b></p>
    <p class="ml-4">
      <i><b>FRONT VIEW</b></i>
      <br />Wear clothing that shows 3/4th of your body (ex. bikini or trunks)
      <br />Look straight ahead for a clear front-view image <br />Hold a white
      A4 paper with the #hashtag next to you
    </p>
    <p class="ml-4">
      <i><b>SIDE VIEW & BACK VIEW</b></i>
      <br />Wear clothing that shows 3/4th of your body (ex. bikini or trunks)
      <br />Look straight ahead for a clear side/back-view image <br />Side and
      back view does NOT require holding a piece of paper <br />360 TURNING
      VIDEO <br />In the upload page, it is required to create/upload a
      360-degree turning video of you turning to qualify for the contest prizes.
    </p>
  </div>
  <br />
  <div>
    <p><b>CHECK YOUR UPLOAD</b></p>
    <p>
      If you need to check if you have successfully uploaded your video and
      images, you can simply refresh the page. You can also use a private
      browser to check.
    </p>
  </div>
  <div>
    <p><b>WRITE UPS</b></p>
    <p>
      It is required to write a little about you (We want to get to know you!)
      to participate in the contest for any of the prizes.
    </p>
  </div>
</ion-content>
