<ion-header [translucent]="false" class="yellow-header">
  <ion-toolbar color="transparent">
    <div class="header-content">
      <div class="d-flex">
        <ion-button fill="clear" class="menu-button"
        style="--background:transparent;"
        (click)="toggleSidebar()">
          <ion-icon name="menu-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
        </ion-button>
      <ion-title class="header-title">Recipes</ion-title>
     
      </div>

      <ion-button fill="clear" class="menu-button position-relative"
      style="--background:transparent;"
      [routerLink]="['/my-cart']">
      @if(shopifyService.cartTotalQuantity$.value > 0) {
        <span class="cart-count">{{shopifyService.cartTotalQuantity$.value}}</span> }
        <ion-icon name="cart-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    @if(authService.isAdmin) {
      <div class="search-container">
        <ion-searchbar 
        placeholder="Search Recipes" 
        class="search-bar"
        [(ngModel)]="searchText"
        [showClearButton]="true"
        (ionInput)="onSearchInput()"
        (ionClear)="onSearchClear()">
      </ion-searchbar> 
      </div>
    
  }
  </ion-toolbar>
</ion-header>
<!-- filter button float right-->
<div class="filter-button-container">
<ion-button fill="clear" class="filter-button px-3"
style="--background:#FFD700;;"
(click)="openFilterDialog()">
  <ion-icon name="filter-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>&nbsp; Filter
</ion-button>
</div>
<!--  <ion-content style="height:70vh;"> -->
  <div class="content-ion" >
    @if(recipes.length > 0) {
  <div class="recipe-list">
    @for (recipe of recipes; track $index) {
    <div class="recipe-item"
    (click)="goToProductDetail(recipe.id)">
      <div class="recipe-image-wrapper">
        <ion-img [src]="getRecipeImage(recipe)" 
        (onError)="handleImageError($event)"
        class="recipe-image"></ion-img>
      </div>
      <div class="recipe-info">
       <!--  <span class="low-carb-badge">LOW-CARB</span> -->
       <div class="d-flex justify-content-between align-items-start">
        <h3 class="recipe-name">{{recipe.title}}</h3>
        <div class="favorites-section">
          @if(!checkFavorites(recipe.id)) { 
            <ion-icon
              name="heart-outline"
              class="favorites-icon"
              (click)="$event.stopPropagation(); addToFavorites(recipe)"></ion-icon>
             } 
            @if(checkFavorites(recipe.id)) { 
            <ion-icon
              name="heart"
              class="favorites-icon"
              (click)="$event.stopPropagation(); removeFromFavorites(recipe)"></ion-icon>
            } </div>
            </div>
        <div class="recipe-badges">
          @for (tag of recipe.tags; track $index) {
          <span class="badge"
          >{{tag}}</span>}
        </div>
      
      </div>
    </div>
  }
  </div>}
  @if(recipes.length === 0) {
    <div class="example-content p-2 text-center">No data found</div>
  }
</div>
<!--  </ion-content> -->

<app-sidebar [isOpen]="common.isSidebarOpen" (closeSidebar)="toggleSidebar()"></app-sidebar>
