.bg-auth-screen{
    background-color: white;
    height: auto;
    width: 100%;
    position: relative;
    .auth-logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        .auth-logo-img{
            width: 100%;
            filter: opacity(0.3);
        }
    }
}

.form-input-wrapper {
    position: relative;
    
    .password-toggle-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: var(--tertiary-color);
        cursor: pointer;
        z-index: 10;
        pointer-events: auto;
    }
}

.header-title{
    align-items: center;
    ion-icon{
        font-size: 30px;
    }
    ion-title{
        font-size: 24px;
        font-weight: bold;
        padding: 0px;
    }
}
.paragraph-text{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-color);
    line-height: 10px;
}
ion-grid{
    padding: 15px;
}

.button-spinner {
    width: 16px;
    height: 16px;
    --color: white;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &[disabled] {
        opacity: 0.6;
    }
}