<ion-content [fullscreen]="true">
  <div class="bg-auth-screen">
   <div class="auth-logo">
    <ion-img src="assets/images/logo.png" class="auth-logo-img" ></ion-img>
   </div>

   <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="d-flex header-title">
          <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
          <ion-title>Sign In</ion-title>
        </div>
    
      </ion-col>
    </ion-row>
    <ion-row class="my-3" >
      <ion-col size="12">
        <ion-text class="paragraph-text">
          Get the most out of your Move
Products with all amazing recipes
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="mt-4 mb-4" > 
      <ion-col size="12">
        <div class="auth-form ">
          <form [formGroup]="signinForm">
             <div class="form-input-wrapper">
            <ion-input type="email" class="form-input" placeholder="Email" formControlName="email"></ion-input>
            </div>
            <div class="form-input-wrapper">
            <ion-input [type]="showPassword ? 'text' : 'password'" class="form-input" placeholder="Password" formControlName="password"></ion-input>
            <ion-icon 
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
              class="password-toggle-icon"
              (click)="togglePasswordVisibility()">
            </ion-icon>
            </div>
            <div class="d-flex align-items-center justify-content-end ">
              <a href="javascript:void(0)" (click)="goToForgotPassword()">Forgot Password?</a>
            </div>
            <ion-button class="primary-button mt-4" 
            (click)="signin()"
            [disabled]="signinForm.invalid || isLoading"
            type="submit">
              @if(isLoading) {
                <ion-spinner name="crescent" class="button-spinner"></ion-spinner>
                <span style="margin-left: 8px;">Signing In...</span>
              } @else {
                Sign In
              }
            </ion-button>
          </form>
         </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-1">
      <ion-col size="12">
        <div class="d-flex align-items-center justify-content-center">
          <ion-text class="text-center highlight-text">If you have a Shopify account, please create an account using the same email. Otherwise create a new account.</ion-text>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="d-flex align-items-center justify-content-center ">
          <ion-text>Don't have an account? &nbsp;</ion-text>
          <a href="javascript:void(0)" (click)="goToSignup()">Sign Up</a>
        </div>
      
       <div class="d-flex align-items-center justify-content-center mt-2">
          <b>OR</b>
        </div>
        <div class="d-flex align-items-center justify-content-center my-2">
          <ion-text>Sign in with the following:</ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center gap-2">
          <a href="javascript:void(0)" (click)="signInWithFacebook()" [class.disabled]="isSocialLoading.facebook">
            @if(isSocialLoading.facebook) {
              <ion-spinner name="crescent" class="social-spinner"></ion-spinner>
            } @else {
              <ion-img src="assets/images/icons/fb.png" class="social-icon"></ion-img>
            }
          </a>
          <a href="javascript:void(0)" (click)="signInWithGoogle()" [class.disabled]="isSocialLoading.google">
            @if(isSocialLoading.google) {
              <ion-spinner name="crescent" class="social-spinner"></ion-spinner>
            } @else {
              <ion-img src="assets/images/icons/gmail.png" class="social-icon"></ion-img>
            }
          </a>
          @if(showAppleSignIn) {
            <a href="javascript:void(0)" (click)="signInWithApple()" [class.disabled]="isSocialLoading.apple" class="apple-signin-btn">
              @if(isSocialLoading.apple) {
                <ion-spinner name="crescent" class="social-spinner"></ion-spinner>
              } @else {
                <svg class="apple-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#ffffff" d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-62.1 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"/></svg>
              }
            </a>
          }
        </div>
      </ion-col>
    </ion-row>
   </ion-grid>

  

  </div>

</ion-content>
