<ion-header>
  <app-main-header [headerType]="1" buttonType="back-icon" title="My Cart"></app-main-header>
</ion-header>

<ion-content >
  <ng-container *ngIf="isCollectionsLoading">
    <ion-row style="margin-top: 16px">
      <ion-col size="6" *ngFor="let product of [].constructor(4) ">
        <ion-card style="min-height: 150px" class="product-card">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 150px; margin: 0"
          ></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="!isCollectionsLoading">
    <ng-container *ngIf="collections.length">
      <h2 class="title">Collections</h2>
      <ion-row>
        <ion-col
          size="6"
          *ngFor="let collection of collections | slice:0:(showAll ? collections.length : 4)"
        >
          <ion-card
            (click)="collectionClicked(collection.id, collection.title)"
            class="product-card"
          >
            <ion-img [src]="collection.image?.url"></ion-img>
            <div>
              <h5>{{ collection.title }}</h5>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <div class="show-more-container">
        <ion-button mode="ios" color="light" *ngIf="collections.length > 4" (click)="viewToggled()">
          {{ showAll ? 'View Less' : 'View All Collections' }}
        </ion-button>
      </div>
    </ng-container>
  </ng-container>

  <h2 class="title" style="margin: 40px 0 0 0">Products</h2>

  <ion-row class="sort-row" *ngIf="products.length || searchName">
    <ion-col size="12" class="search-col">
      <ion-searchbar
        (ionInput)="resetSearch()"
        color="light"
        [(ngModel)]="searchName"
      ></ion-searchbar>
      <ion-button [disabled]="!searchName" (click)="search()">Search</ion-button>
    </ion-col>
    <ion-item *ngIf="this.searchTerm" class="ion-no-padding" lines="none" class="text-item" >
      <ion-text>Showing results for "{{searchTerm}}"</ion-text>
    </ion-item>

    <ion-col size="12">
      <ion-button
        *ngIf="products.length > 0"
        (click)="sortProducts()"
        color="secondary"
        shape="round"
        fill="outline"
        >Sort &nbsp; <ion-icon name="swap-vertical"></ion-icon>
      </ion-button>
    </ion-col>

   
  </ion-row>

  <ng-container *ngIf="isLoading">
    <ion-row style="margin-top: 16px">
      <ion-col size="6" *ngFor="let product of [].constructor(10) ">
        <ion-card style="min-height: 150px" class="product-card">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 150px; margin: 0"
          ></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>


  <ng-container *ngIf="products.length && !isLoading">
    <ion-row>
      <ion-col size="6" *ngFor="let product of products ">
        <ion-card (click)="productClicked(product)" class="product-card">
          <div *ngIf="!product.availableForSale" class="ribbon ribbon-top-left">
            <span>Out of Stock</span>
          </div>
          <ion-img [src]="product.variants[0].image?.url"></ion-img>
          <div>
            <h5>{{product.title}}</h5>
            <div class="price-container">
              <h5 *ngIf="product.availableForSale && customerService.customerSubscribed$.value" class="price">
                <s style="margin-right: 5px; color: grey;" >${{product.variants[0].price.amount | number: '1.2-2'}}</s>  ${{customerService.applyDiscount(product.variants[0].price.amount) | number: '1.2-2'}}
              </h5>
              <h5 *ngIf="product.availableForSale && !customerService.customerSubscribed$.value" class="price">
                ${{product.variants[0].price.amount | number: '1.2-2'}}
              </h5>
            </div>
            <p class="incart-text" *ngIf="product.isAddedInCart" >Already in cart  <ng-container *ngIf="getVariant(product).length" >:  {{getVariant(product) | arrayToCommaSeparated}} </ng-container></p>
            <ion-button [disabled]="!product.availableForSale" (click)="addToCart(product, $event)" mode="ios" color="primart" fill="outline" size="small">Add to Cart</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <div class="empty-div" *ngIf=" !isLoading && products.length == 0">
    <div>
      No products
    </div>
  </div>
  </ion-content>
  <ion-footer>
    <app-card-footer></app-card-footer>
  </ion-footer>