

  <div class="california-warning-dialog">
    <div class="california-warning-header">
      <ion-icon name="warning" class="california-warning-icon" aria-hidden="true"></ion-icon>
      <h2 class="california-warning-title">CALIFORNIA WARNING</h2>
    </div>
    <p class="california-warning-text">
      Consuming this product can expose you to chemicals including Lead, which is known to the State of California to cause cancer and birth defects or other reproductive harm.
    </p>
    <p class="california-warning-more">For more information, go to</p>
    <a href="https://www.P65Warnings.ca.gov/food" target="_blank" rel="noopener noreferrer" class="california-warning-url">www.P65Warnings.ca.gov/food</a>

    <ion-button expand="block" class="ok-button" (click)="okay()">Okay</ion-button>
  </div>
