<ion-header [translucent]="false" class="yellow-header">
  <ion-toolbar color="transparent">
    <div class="header-content">
      <div class="d-flex">
        <ion-button fill="clear" class="menu-button"
      style="--background:transparent;"
      (click)="toggleSidebar()">
        <ion-icon name="menu-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title class="header-title">Search</ion-title>
      
</div>
   <!--    <ion-button fill="clear" class="menu-button position-relative"
      style="--background:transparent;"
      [routerLink]="['/my-cart']">
      @if(shopifyService.cartTotalQuantity$.value > 0) {
        <span class="cart-count">{{shopifyService.cartTotalQuantity$.value}}</span> }
        <ion-icon name="cart-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
      </ion-button> -->
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="example-content">No data found</div>
</ion-content>

<app-sidebar [isOpen]="common.isSidebarOpen" (closeSidebar)="toggleSidebar()"></app-sidebar>