.quotation-img {
    height: 12px;
    width: 12px;
  }
  .info-card {
    --background: rgba(0, 232, 156, 0.3);
    padding: 10px;
    div {
      margin: 15px 0;
    }
  }
  .offer-div {
    border: 1px solid var(--ion-color-danger);
    margin: 30px 5px;
    border-radius: 25px;
    ion-item {
      --padding-start: 5px;
      --background: transparent;
      font-size: 14px;
      ion-icon {
        font-size: 30px;
        margin: 0 10px 0 5px;
      }
    }
    ion-button {
      margin: 5px auto 10px;
      width: 150px;
      height: 40px;
    }
    span {
      color: #00ccbd !important;
    }
  }
  .btns-div {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0 5px;
    ion-button {
      width: 40vw;
    }
  }
  .red-bg {
    background: var(--ion-color-danger);
    span {
      color: #00ccbd !important;
    }
  }
  completed-div {
  }
  
  video{
    width: 100%;
    border-radius: 20px;
  }
  
  .ion-img-round {
    border-radius: 25px !important;
    overflow: hidden;
  }
  
  .video-div{
    // margin-top: 10px;
    padding: 20px 0 15px;
    h2{
      margin: 0px 0 8px ;
      font-size: 18px;
      font-weight: 900 !important;
      text-align: center;
    }
    border-bottom: 1px solid #ccc;
  }
  
  .combo-div{
    background-color: #172436;
    border-radius: 20px;
    padding: 20px 0 30px 0;
    margin: 25px 0;
    h2{
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 20px;
      color: white;
      text-align: center;
      margin-top: 10px;
  
    }
  
    .text-h{
      margin-top: 0px;
      margin-bottom: 25px;
  
      // background-image: rgb(117, 94, 255);
      // background-image: linear-gradient(
      //   230deg,
      //   rgba(117, 94, 255, 1) 0%,
      //   rgba(228, 225, 0, 1) 100%
      // );
      color: white;
      font-size: 40px;
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
      // line-height: 50px !important;
      text-align: center;
      font-weight: 900;
      text-transform: uppercase;
    }
  
    .btn-div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      ion-button{
        margin-top: 12px;
      --border-radius : 10px;
      width: 70%;
  }
  .transparent-btn{
    --background: none;
  }
  
      
  
    }
  }
  .btns-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    flex-direction: column;
    margin-bottom: 10px;

    p{
      font-size: 17px;
      text-decoration: underline;
      font-weight: 900;
      color: var(--ion-color-secondary);
    }
  }