
h1{
    padding-left: 16px;
    font-weight: 800;
    font-size: 19px;
    margin: 13px 0 4px;
}
ion-card{
    padding: 16px 10px;
    font-family: 'AvertaRegular';
    h3{
        margin-bottom: 3px;
        font-size: 15px;
        line-height: 20px;
        font-family: AvertaRegular;
    }

    .mood-div{
        margin: 8px 0;
        display: flex;
        justify-content: center;

        .div2{
            border-left: 2px solid var(--ion-color-secondary);
        }
        .p1{
            text-align: center;
            font-weight: 900;
            color: var(--ion-color-secondary);
            font-size: 17px;

        }
        .p2{
            margin-bottom: 2px;
            text-align: center;
        }
        .p3{
            margin-bottom: 2px;
            text-align: center;
        }

    }

    .btn-div{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        ion-button{
            --background : none;
            background: none;
        }

        
    }

    .main-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .div{
            display: flex;
            justify-content: flex-end;
        }
    }
}
ion-card:first-of-type {
    margin-top:15px;
}