<ion-content [fullscreen]="true" class="product-detail-content">
  <div class="wrapper-content" *ngIf="recipe">
    <!-- add  back button -->
    <ion-button fill="clear"  
     class="icon-button" (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  <div class="image-section">
    <ion-img 
      [src]="recipe?.image?.url || 'assets/images/placeholder.jpg'" 
      alt="{{recipe?.title}}"
      class="product-image">
    </ion-img>
  </div>

  <div class="recipe-card">
    <div class="content">
    <div class="tags-container">
      <span class="tag tag-easy" *ngFor="let tag of recipe?.tags">{{tag}}</span>
    </div>

    <h1 class="recipe-title">{{recipe?.title}}</h1>

    <p class="recipe-description">
       {{recipe?.description}}    </p>

    <div class="ingredients-section">
      <h2 class="ingredients-heading">INGREDIENTS</h2>
      <div
      [innerHTML]="recipe?.ingredients"
      ></div>
    </div>

  <!--   <div class="favorites-section">
      <span class="favorites-text">Add to Favorites</span>
      <ion-icon name="heart-outline" class="favorites-icon"></ion-icon>
    </div> -->
    @if(shopifyInventory.length > 0) {
    <h2 class="ingredients-heading">Choose What Goes Into Your Recipe</h2>
   <!--  product listing -->
     <div class="product-listing-container">
     @for (item of shopifyInventory; track $index) {
     <div class="product-listing">
      @for (variant of item.variants; track $index) {
      <div class="variant-container">
        <div class="variant-image-container">
        <ion-img [src]="variant.image?.url" class="variant-image" alt="variant.title"></ion-img>
      </div>
        <div>
        <h6 class="mt-0">{{item.title}} - {{variant.title}}</h6>
        <div class="d-flex align-items-center justify-content-between">
        <p class="m-0">$ {{variant.price.amount}} </p><!-- 
        <p class="mt-0"> {{variant.inventory_quantity}}</p> -->
       <!--  add a increment and decrement button with quantity -->
         @if(item.availableForSale) {
       <div class="quantity d-flex align-items-center" >
        <ion-button   (click)="decreaseQuantityInCart(variant) "
        [disabled]="quantity[variant.id] == 1"
        class="quantity-button"
        size="small" ><ion-icon name="remove"></ion-icon></ion-button>
        <ion-text  style="width: 25px; text-align: center;">{{  quantity[variant.id]}}</ion-text>
        <ion-button (click)=" increaseQuantityInCart(variant) "
        class="quantity-button"
         size="small"><ion-icon name="add"></ion-icon></ion-button>
      </div>}
      @else {
        <p class="m-0 text-danger">Out of Stock</p>
      }
      </div>
      <ion-button (click)="addToCart(variant)" class="add-to-cart-button">Add to Cart</ion-button>
      </div>
      </div>
    }
     </div>
    }
    </div>
  }

  </div>
  <div>
  </div>

  @if(checkGetCartButton) {
    <ion-button (click)="cartClicked()" class="cart-btn"> <ion-icon name="cart-outline"></ion-icon>Go to Cart</ion-button>
  }
 
   
  </div>
  </div>
</ion-content>
