<ion-content [fullscreen]="true" class="product-detail-content">
  <div class="wrapper-content" *ngIf="recipe">
  <div class="image-section">
    <ion-img 
      [src]="recipe?.image?.url || 'assets/images/placeholder.jpg'" 
      alt="{{recipe?.title}}"
      class="product-image">
    </ion-img>
  </div>

  <div class="recipe-card">
    <div class="content">
    <div class="tags-container">
      <span class="tag tag-easy" *ngFor="let tag of recipe?.tags">{{tag}}</span>
    </div>

    <h1 class="recipe-title">{{recipe?.title}}</h1>

    <p class="recipe-description">
       {{recipe?.description}}    </p>

    <div class="ingredients-section">
      <h2 class="ingredients-heading">INGREDIENTS</h2>
      <div
      [innerHTML]="recipe?.ingredients"
      ></div>
    </div>

    <div class="favorites-section">
      <span class="favorites-text">Add to Favorites</span>
      <ion-icon name="heart-outline" class="favorites-icon"></ion-icon>
    </div>

  </div>
  <div class="footer cta-button">
    Let's Get Shakin'
    
  </div>
   
  </div>
  </div>
</ion-content>
