<ion-header [translucent]="false" class="yellow-header">
  <ion-toolbar color="transparent">
    <div class="header-content">
      <div class="d-flex">
        <ion-button fill="clear" class="menu-button"
        style="--background:transparent;"
        (click)="toggleSidebar()">
          <ion-icon name="menu-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
        </ion-button>
      <ion-title class="header-title">Home</ion-title>
     
      </div>

      <ion-button fill="clear" class="menu-button position-relative"
      style="--background:transparent;"
      [routerLink]="['/my-cart']">
      @if(shopifyService.cartTotalQuantity$.value > 0) {
        <span class="cart-count">{{shopifyService.cartTotalQuantity$.value}}</span> }
        <ion-icon name="cart-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<div class="content-ion" style="padding: 16px 16px 50px 16px;">
  @for (challenge of challengeDatas.slice(0, 1); track challenge.id) {
  <ion-card   (click)="challengeClicked(challenge)">
    <div class="challenge-card-container">
    <img
    
      [src]="challenge.dashBannerUrl"
    />
  </div>
 
    <ion-item lines="none" detail="true">
      <ion-list>
        <ion-text class="l1" color="primary">{{challenge.dashTitle}}</ion-text>
        <ion-label class="l2"
          ><b>Number of Days :</b> {{challenge.totalDays}}
        </ion-label>
     
      </ion-list>
    
   

    </ion-item>
   
  </ion-card>
}


@if(authService.isAdmin && recipesHome.length > 0) {
  <h2 class="recipe-heading" style="    font-weight: 600;">Protein</h2>
  <div class="recipe-content">
   <div class="recipe-slider-container">
     <div class="recipe-slider-wrapper" 
          [style.transform]="'translateX(-' + (currentSlideIndex * 100) + '%)'"
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd($event)">
       @for (recipe of recipesHome; track recipe.id) {
       <div class="recipe-slide">
         <div class="main-recipe-card">
           <div class="recipe-header">
             <h2 class="recipe-title">{{ recipe.title }}</h2>
           </div>
           <div class="recipe-image-container" (click)="goToProductDetail(recipe.id)" >
             <ion-img 
               [src]="recipe.image?.url" 
               class="recipe-image">
             </ion-img>
           </div>
         </div>
       </div>
       }
     </div>
     <div class="slider-indicators">
       @for (recipe of recipesHome; track recipe.id; let i = $index) {
         <div class="indicator" 
              [class.active]="i === currentSlideIndex"
              (click)="goToSlide(i)"></div>
       }
     </div>
   </div>
   </div>
 }
</div>

<app-sidebar [isOpen]="common.isSidebarOpen" (closeSidebar)="toggleSidebar()"></app-sidebar>
