video{
    border-radius: 20px;
}

.btns-div {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0 5px;
    ion-button {
      width: 40vw;
    }
    p{
      font-size: 17px;
      text-decoration: underline;
      font-weight: 900;
      color: var(--ion-color-secondary);
    }
  }