
.title-h2{
    color: var(--ion-color-secondary);
    font-size: 22px;
    font-weight: 900 !important;
    margin-bottom: 8px;
  }
  .desc{
  
  }
  .card {
      padding:  16px;
      --background : #f0f2fd;
      background : #f0f2fd;
      border: 2px solid #ffffff;
     border-radius: 6px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
      margin: 8px 0;
      .top-item {
          
        ion-list {
          padding-top: 0;
          h4 {
            margin: 0;
          }
          ion-label {
            font-weight: 700;
            font-size: 12px;
          }
        }
      }
      .detail-item {
        --min-height: 26px;
        ion-label {
          margin: 0;
          font-size: 12px;
        }
      }
      ion-item{
          --background : none;
          --inner-padding-start : 0;
          --padding-start : 0;
          --inner-padding-end : 0;
          --padding-end : 0;
  
      }
      ion-list{
          --background : none;
          background : none;
      }
    }
  
    .empty-div{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
  }
  
  
  .flex {
      display: flex;
      align-items: center;
      justify-content: center;
     }
     
  
  
  
     //For catrs
  
  
     .accordon-container {
      margin: 20px 0;
      padding: 0 ;
      .accordion {
        margin-top: 0px;
        border-radius: 10px;
     
        .header-item {
          // --background : #f0f2fd;
          border: 2px solid #fff;
          border-radius: 6px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
          // margin-top: 10px;
          --inner-padding-end: 5px;
          --padding-top: 3px;
          //  --padding-bottom : 3px;
          margin: 0px 1px;
           margin-bottom: 10px;
          --min-height: 100px;
          --max-height: 100px;
          max-height: 100px;
          ion-label {
            font-size: 19px;
            font-weight: 500;
            font-family: "Muli";
          }
          ion-icon {
            color: #0139da;
            font-size: 23px;
          }
          img {
            max-height: 100%;
            height: 60px;
            margin-right: 0px;
          }
    
          .main-div {
            margin-bottom: 8px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 8px;
    
            h1 {
              margin: 0;
              font-size: 19px;
              font-family: "Muli";
              line-height: 19px;
              font-weight: 900;
            }
            p{
              font-size: 14px;
              margin: 0;
            }
          }
          .fb-div{
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
    
            h1 {
              margin: 0;
              font-size: 17px;
              font-family: "Muli";
              line-height: 19px;
            }
            p{
              margin-top: 3px;
              margin-bottom: 0;
              font-size: 12px;
            }
          }
    
          ion-list {
            background: transparent;
          }
        }
        .content-div {
          padding: 0px 10px 16px 10px;
          .filter-div {
            margin: 10px 0;
          }
          .btn-div {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-button {
              width: 70%;
              height: 40px;
            }
          }
        }
      }
      .selected-header{
          border: 2px solid var(--ion-color-secondary) !important;
        }
    }
  
    .bg0 {
      --background: #90a18d;
    }
    .bg1 {
      --background: #e1eaff;
      img {
          max-height: 100%;
          height: 80px !important;
        }
    }
    .bg2 {
      --background: #edffef;
      img {
          max-height: 100%;
          height: 40px !important;
        }
    }
    .bg3 {
      --background: #eafdff;
  
    }
    .bg4 {
      --background: #fff8f3;
    }
    .bg5 {
      --background: #949f89;
    }
  
  
    .cart-items{
      --background : #f1f1f1;
      border: 2px solid #ffffff;
     border-radius: 6px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
     margin-top: 10px;
     --padding-start : 0;
     --padding-end : 0;
     --pading-top : 10px !important;
     --inner-pading-top : 10px !important;
     --padding-bottom : 5px;
  //    padding: 10px;
  
     .main-div{
      display: grid;
      grid-template-columns: 90px 1fr 30px;
      gap: 10px;
      width: 100%;
     }
  
     ion-thumbnail{
      width: 80px;
      height: 80px;
      --border-radius: 6px;
      border-radius: 6px !important;
      img{
          border-radius: 6px !important;
      }
     }
  
     .middle-div{
      .quantity{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
          ion-text{
              font-size: 16px;
              font-weight: 900;
          }
      }
      h6{
          margin-bottom: 5px;
          font-size: 15px;
          font-weight: 700;
          margin-top: 8px;
      }
      .price{
          color: #004aff;
      }
      ion-button{
          min-height: 22px;
          height: 22px;
          width: 30px;
          min-width: 30px;
          font-size: 13px;
          --padding-end : 3px;
          --padding-start : 3px;
          --padding-top : 3px;
          --padding-bottom : 3px;
          font-weight: 900;
          box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
          border-radius: 10px;
          --border-radius: 10px;
      }
  
     }
     .trash-div{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      div{
          background-color: white;
          border-radius: 10px;
          padding: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
          ion-icon{
              font-size: 22px;
              color: #a3a3a3;
          }
      }
     }
     .thumb-container{
      display: flex;
      justify-content: center;
      align-items: center;
     }
  }
  
  .empty-div{
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      ion-button{
          --border-radius : 5px;
          width: 80%;
      }
  }
  
  .btns-div{
      margin: 20px 0 5px;
      padding: 8px 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
  
      .left-div{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          border-radius: 5px;
          border: solid 1px #004aff;
          padding: 10px;
          p{
              font-size: 11px;
              margin: 0 0 0px;
          }
          h5{
              font-size: 16px;
              font-weight: 800;
              margin: 0;
          }
      }
      .right-div{
          background-color: #004aff;;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          padding: 10px;
          color: white;
          h5{
              font-size: 16px;
              font-weight: 800;
              margin: 0;
          }
      }
      
  }