<!-- Sidebar -->
<div class="sidebar-overlay" [class.active]="isOpen" (click)="onClose()"></div>
<div class="sidebar" [class.open]="isOpen">
  <div class="sidebar-header">
    <h2>Menu</h2>
    <ion-button fill="clear" style="--background:transparent;" class="close-button" (click)="onClose()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="sidebar-content">
      <!-- user profile -->
  <div class="user-profile">
    @if(authService.userDetails?.photoURL) {
      <img class="user-profile-image" [src]="authService.userDetails?.photoURL" alt="User Profile" />
    }@else {
      <ion-icon name="person-outline"></ion-icon>
    }
    <span>{{authService.userDetails?.fname}} {{authService.userDetails?.lname}}</span>
    @if(authService.userDetails?.email) {
      <span class="user-email">{{authService.userDetails?.email}}</span>
    }
  </div>
   <!--  <div class="sidebar-item" (click)="navigateTo('/home')">
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </div>
    @if(authService.isAdmin) {
    <div class="sidebar-item" (click)="navigateTo('/products')">
      <ion-icon name="beer-outline"></ion-icon>
      <span>Recipes</span>
    </div>}
    @if(authService.isAdmin) {
    <div class="sidebar-item"  >
      <ion-icon name="heart-outline"></ion-icon>
      <span>Favorites</span>
    </div>
    <div class="sidebar-item"  >
      <ion-icon name="search-outline"></ion-icon>
      <span>Search</span>
    </div>} -->
    <div class="sidebar-item" 
    [routerLink]="['/challenge/']"
    [queryParams]="{category: 'current-and-upcoming'}"
    (click)="onClose()">
      <ion-icon name="trophy-outline"></ion-icon>
      <span>Challenges</span>
    </div>
    @if(authService.isAdmin) {
    <div class="sidebar-item" (click)="navigateTo('/products/recipe-tab')">
      <ion-icon name="restaurant-outline"></ion-icon>
      <span>My Recipes</span>
    </div>
  }
    <!--  my cart -->
    <div class="sidebar-item" (click)="navigateTo('/my-cart')">
      <ion-icon name="cart-outline"></ion-icon>
      <span>My Cart</span>
    </div>
    <div class="sidebar-item" (click)="navigateTo('/my-store')">
      <ion-icon name="storefront-outline"></ion-icon>
      <span>My Store</span>
    </div>
    <div class="sidebar-item" (click)="navigateTo('/my-orders')">
      <ion-icon name="receipt-outline"></ion-icon>
      <span>My Orders</span>
    </div>
    <div class="sidebar-item" (click)="navigateTo('/profile')">
      <ion-icon name="person-outline"></ion-icon>
      <span>My Profile</span>
    </div>
    <!-- logout -->
    <div class="sidebar-item" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>Logout</span>
    </div>
    <!-- logout -->
  </div>
</div>

@if(isLoading) {
  <div class="loading-container">
  <ion-spinner name="crescent" class="button-spinner"></ion-spinner>
  <span>Logging out...</span>
  </div>
}
