.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 20px 10px;
    flex-direction: column;
    p{
      text-align: center;
      padding: 0 10%;
      margin-top: 8px;
    }
    ion-button {
      width: 70%;
    }
    .border{
      border-bottom: 1px solid #ccc;
      width: 100%;
      height: 2px;
    }
  }
  