@if(authService.isAdmin) {
<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-tab">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="recipe-tab">
      <ion-icon name="beer-outline"></ion-icon>  
    </ion-tab-button>
    <ion-tab-button tab="fav-tab">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search-tab">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
}
@else {
  <ion-router-outlet></ion-router-outlet>
}
