.bg-screen{
    background-image: url('../../assets/images/welcome-screen.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    padding-bottom: 20px;
    padding-top: 20px;
    .welcome-logo{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        .welcome-logo-img{
            width: 200px;
        }
    }
}