.bg-screen{
    background-image: url('../../assets/images/welcome-screen.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    padding-bottom: 20px;
    padding-top: 20px;
    .overlay-backdrop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .welcome-logo{
        position: absolute;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .welcome-logo-img{
            width: 200px;
            margin-bottom: 20px;
        }
        .continue-button{
            //gradient button
          //  background: linear-gradient(to right, #01b6d8 0, #01c8c3 25%, #02d8b0 50%, #02d9b0 75%, #02e6a0 100%);
            color: white;
            --border-radius: 30px;
            --padding-start: 20px;
            --padding-end: 20px;
            --padding-top: 10px;
            --padding-bottom: 10px;
          //  padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
         //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            &:hover {
                opacity: 0.8;
                transform: translateY(-2px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }
            &:active {
                transform: translateY(0);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            &:focus {
                outline: none;
            }
        }
    }
}