ion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ion-button {
      width: 80%;
      height: 40px;
      margin-bottom: 10px;
    }
    h1 {
      margin: 10px 0 10px;
    }
    h3 {
      margin: 10px 0;
    }
  }
  
  .skeleteon-thumbnail{
    height: 100vw; width: 100%; --border-radius : 20px;
  }