<ion-header>
  <app-main-header [headerType]="1"
    buttonType="back-icon"
    [title]="timelineInfo.title"
  ></app-main-header>
</ion-header>

<ion-content class="ion-padding">
  <h1>Materials</h1>
  <p>
    Videos - Workout videos from the dashboard are for streaming purposes only
    <br />eBooks - Make sure you download your ebooks as the links are only
    valid for one month. Save a copy to your hard drive. <br /><br /><i
      >**Please note that all challenge materials are only available during the
      season, so make sure to download your copy before the challenge is over.
    </i>
  </p>
</ion-content>
