<ion-header>
  <app-main-header [headerType]="1" buttonType="back-icon" title="My Cart"></app-main-header>
</ion-header>

<ion-content >


<div class="accordon-container">
  <p class="desc" >You have items from multiple stores, please make sure to checkout and pay for each store.</p>

<!--   <ion-accordion-group [value]="selectedStore" (ionChange)="accordionChange($event)"   #accordionGroup>
    <ion-accordion *ngFor="let store of stores; trackBy: trackByStore" class="accordion"
     [value]="store.store"
      [ngClass]="{'selected-header': selectedStore == store.store || checkIfStoreSelected(store)}"> -->
   @for (store of stores; track $index) {
      <ion-item class="header-item" [ngClass]="[store.cssClass]" slot="header" lines="none">
        <div class="main-div">
          <h1>{{ store.store  }}</h1> <!-- Use your pipe to convert the store name -->
          <p>{{ store.length }} Items Added</p> <!-- Show actual number of items -->
        </div>
        <img slot="end" [src]="store.imageUrl" />
      </ion-item>
      <div class="content-div" slot="content">
        <ion-item lines="none" class="cart-items" *ngFor="let item of store.cart" >
          <div class="main-div">
           <div class="thumb-container">
            <ion-thumbnail>
              <img [src]="item.image?.url">
            </ion-thumbnail>
           </div>
            <div class="middle-div">
              <h6 *ngIf="item.parentProductVariants.length == 1 ">{{ item?.parentProductTitle }}</h6>
              <h6 *ngIf="item.parentProductVariants.length > 1 ">{{ item?.parentProductTitle }} - {{ item?.title }}</h6>
              <h6 *ngIf="customerService.customerSubscribed$.value" class="price"> <s style="margin-right: 5px; color: grey;" >${{item.price?.amount | number: '1.2-2'}}</s> </h6>
              <h6 *ngIf="!customerService.customerSubscribed$.value" class="price"> ${{item.price?.amount | number: '1.2-2'}}</h6>
              <div class="quantity">
                <ion-button  color="light" size="small" ><ion-icon name="remove"></ion-icon></ion-button>
                <ion-text>{{item.quantity}}</ion-text>
                <ion-button  color="light"  size="small"><ion-icon name="add"></ion-icon></ion-button>
              </div>
            </div>
            <div class="trash-div" >
             <div>
              <ion-icon  name="trash"></ion-icon>
             </div>
            </div>
        
          </div>
        </ion-item>


        <div class="btns-div" *ngIf="store.cart.length !=0">
          <div class="left-div">
            <p>Total Price</p>
            <h5 >${{store.cartTotal | number : '0.2-2'}}</h5>
           
          </div>
          <div (click)="checkout(store.store)" class="right-div ion-activatable ripple-parent">
            <h5>Checkout</h5>
          </div>
        </div>

        <div class="empty-div" *ngIf="store.cart.length ==0">
          <h2>Your cart is empty</h2>
          <ion-button color="secondary"  >Shop {{store.store }}</ion-button>
        </div>
        <!-- Content for each store's cart goes here -->
      </div>
    }
<!--     </ion-accordion>
  </ion-accordion-group> -->

</div>

<div class="empty-div" *ngIf="stores.length == 0" >
  <p>Nothing in your cart yet. Start shopping!</p>
</div>


</ion-content>
