<ion-header>
  <app-main-header [headerType]="1"
    buttonType="back-icon"
    [title]="timelineInfo.title"
  ></app-main-header>
</ion-header>

<ion-content class="ion-padding">
  <h1>What else?</h1>
  <ul>
    <li>
      You can access your dashboard via browser on all devices that have an
      internet connection.
    </li>
    <li>
      We recommend installing an acrobat reader app on your phones to view the
      PDF file.
    </li>
    <li>
      We follow PST/PDT time from to start and end the challenge regardless of
      your location.
    </li>
    <li>
      You can contact customer support (<a
        href="mailto:support@ifyoucanmove.com"
        >support&#64;ifyoucanmove.com</a
      >) if you have any questions or clarifications regarding the challenge.
      <b>See you in the Challenge!</b>
    </li>
  </ul>
  <br /><br />
  <img
    style="width: 70vw"
    src="assets/images/KeairaLaShae-challenge-dashboard.webp"
    alt="Keaira LaShae"
  />
  <p>
    Keaira LaShae
    <br />CEO & Founder <br />MOVE {{ timelineInfo.title }} Challenge
  </p>
</ion-content>
