<app-sidebar [isOpen]="isSidebarOpen" (closeSidebar)="toggleSidebar()"></app-sidebar>

<ion-header [translucent]="false" class="yellow-header">
  <ion-toolbar color="transparent">
    <div class="header-content">
      <ion-title class="header-title">Most Popular Recipes</ion-title>
      <ion-button fill="clear" class="menu-button"
      style="--background:transparent;"
      (click)="toggleSidebar()">
        <ion-icon name="menu-outline" style="font-size: 30px;" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    <ion-searchbar 
      placeholder="Search Recipes" 
      class="search-bar"
      [showClearButton]="false">
    </ion-searchbar>
    <div class="category-buttons">
      <ion-button 
        *ngFor="let category of categories" 
        [class.selected]="selectedCategory === category"
        class="category-button"
        [fill]="selectedCategory === category ? 'solid' : 'outline'">
        {{ category }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

 <!--  <div class="recipe-content">
  <div class="recipe-container">
    <div class="main-recipe-card" (click)="goToProductDetail()">
      <div class="recipe-header">
        <h2 class="recipe-title">Chocolate Banana Shake</h2>
        <div class="favorite-count">
          <ion-icon name="heart-outline"></ion-icon>
          <span>{{ favoriteCount }}</span>
        </div>
      </div>
      <div class="recipe-image-container">
        <ion-img 
          src="assets/images/beverage.png" 
          alt="Chocolate Banana Shake"
          class="recipe-image">
        </ion-img>
      </div>
    </div>
    
    <div class="side-cards">
      <div class="side-card"></div>
      <div class="side-card"></div>
    </div>
  </div>
  </div> -->


<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
 <!--  <div class="btns-div" *ngIf="status != 'active'">
    <ion-button (click)="openSubscribeModal()">
      <ion-icon name="sync"></ion-icon> &nbsp; Subscribe
    </ion-button>
  </div> -->
  @for (challenge of challengeDatas.slice(0, 1); track challenge.id) {
  <ion-card   (click)="challengeClicked(challenge)">
    <img
      (load)="challenge.loaded=true"
      [hidden]="!challenge.loaded"
      [src]="challenge.dashBannerUrl"
    />
    @if(!challenge.loaded) {
    <div  [hidden]="challenge.loaded">
      <ion-thumbnail class="skeleteon-thumbnail" slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </div>
  }
    <ion-item lines="none" detail="true">
      <ion-list>
        <ion-text class="l1" color="primary">{{challenge.dashTitle}}</ion-text>
        <ion-label class="l2"
          ><b>Number of Days :</b> {{challenge.totalDays}}
        </ion-label>
      <!--   <ion-label class="l2" *ngIf="cat == 'current-and-upcoming'"
          ><b>Start Date :</b> {{challenge.upload01Starts.toDate() | date:
          'mediumDate'}}
        </ion-label> -->
      </ion-list>
    
   

   <!--    <ion-badge
        slot="end"
        *ngIf="isChallengeActive(challenge)  && is7Days(challenge.id) "
        color="warning"
      >
        7 Days</ion-badge
      >
      <ion-icon
        slot="end"
        *ngIf="!isChallengeActive(challenge, challenge._isMiniChallenge)"
        color="danger"
        name="lock-closed"
      ></ion-icon> -->
    </ion-item>
   
  </ion-card>
}


</ion-content>